.nav-resizer {
  padding: 20px;
  width: 40%;
  height: auto;
}

.nav-resizer img {
  padding-right: 20px;
  height: 30px;
  width: auto;
}

.internets {
  background: #fff;
}

.animate-burger {
  color: #fff;
  position: absolute;
  height: 2.5em;
  top: 16%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.contact-us {
  display: flex;
  color: red;
}

.red-box {
  height: 70px;
  width: 75px;
  background-color: red;
}

.inner-contact {
  background-color: white;
  height: 100px;
  width: 275px;
}

.inner-contact p {
  float: left;
  margin: 25px 0 0 5px;
  padding-right: 35px;
}

.inner-contact img {
  float: left;
  height: 70%;
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #4c4c4c;
  color: #fff;
  display: flex;
  justify-content: space-around;
}

.bottom-bar img {
  margin-top: 5px;
  height: 30px;
}

.bottom-bar p {
  margin: 0;
  font-size: 12px;
}
